#spr1_185cfcf {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185cfcf {
  width: 3696px;
  height: 2836px;
  overflow: hidden;
}
#spr5_185cfcf {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr7_185cfcf {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr9_185cfcf {
  width: 189px;
  height: 160px;
  display: none;
  overflow: hidden;
}
#spr11_185cfcf {
  display: none;
}
#spr12_185cfcf {
  width: 1360.507px;
  height: 895.623px;
  overflow: hidden;
}
#spr14_185cfcf {
  width: 175.792px;
  height: 171.561px;
  overflow: hidden;
}
#svg0_185cfcf {
  pointer-events: none;
}
#txt0_185cfcf,
#txt1_185cfcf,
#txt2_185cfcf,
#txt3_185cfcf,
#txt4_185cfcf,
#txt5_185cfcf,
#txt6_185cfcf,
#txt7_185cfcf,
#txt8_185cfcf,
#txt9_185cfcf,
#txt10_185cfcf,
#txt11_185cfcf,
#txt12_185cfcf,
#txt13_185cfcf,
#txt14_185cfcf,
#txt15_185cfcf,
#txt16_185cfcf,
#txt17_185cfcf,
#txt18_185cfcf,
#txt19_185cfcf,
#txt20_185cfcf,
#txt21_185cfcf,
#txt22_185cfcf,
#txt23_185cfcf,
#txt24_185cfcf,
#txt25_185cfcf,
#txt26_185cfcf,
#txt27_185cfcf,
#txt28_185cfcf,
#txt29_185cfcf,
#txt30_185cfcf,
#txt31_185cfcf,
#txt32_185cfcf,
#txt33_185cfcf,
#txt34_185cfcf,
#txt35_185cfcf,
#txt36_185cfcf,
#txt37_185cfcf,
#txt38_185cfcf,
#txt39_185cfcf,
#txt40_185cfcf,
#txt41_185cfcf,
#txt42_185cfcf,
#txt43_185cfcf,
#txt44_185cfcf,
#txt45_185cfcf,
#txt46_185cfcf,
#txt47_185cfcf,
#txt48_185cfcf,
#txt49_185cfcf,
#txt50_185cfcf {
  font-family: fnt6;
  font-size: 37.333px;
  line-height: 41px;
  color: #002060;
}
