#spr1_182c713 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_182c713 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_182c713 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr7_182c713 {
  width: 2114px;
  height: 958px;
  display: none;
  overflow: hidden;
}
#spr9_182c713 {
  width: 262.6px;
  height: 257px;
  display: none;
  overflow: hidden;
}
#svg0_182c713 {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
  display: none;
}
#svg1_182c713 {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
  display: none;
}
#spr11_182c713 {
  width: 255.968px;
  height: 255.968px;
  display: none;
  overflow: hidden;
}
#spr13_182c713 {
  display: none;
}
#txt0_182c713 {
  font-family: fnt7;
  font-size: 120px;
  line-height: 163.68px;
  font-weight: bold;
  color: #7c3f0b;
}
#spr14_182c713,
#spr16_182c713,
#spr18_182c713 {
  width: 256px;
  height: 256px;
  display: none;
  overflow: hidden;
}
