#spr1_185cdcb {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185cdcb {
  width: 229px;
  height: 195.906px;
  display: none;
  overflow: hidden;
}
#spr5_185cdcb {
  width: 209.681px;
  height: 205px;
  display: none;
  overflow: hidden;
}
