#spr1_185cbd7 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185cbd7 {
  width: 229px;
  height: 195.906px;
  display: none;
  overflow: hidden;
}
#spr5_185cbd7 {
  width: 209.681px;
  height: 205px;
  display: none;
  overflow: hidden;
}
