#spr1_184d542 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_184d542 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_184d542 {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr7_184d542 {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr9_184d542 {
  width: 218px;
  height: 185.911px;
  display: none;
  overflow: hidden;
}
#spr11_184d542 {
  width: 816.5px;
  height: 1207.102px;
  overflow: hidden;
}
#spr13_184d542 {
  width: 1367px;
  height: 953px;
  display: none;
  overflow: hidden;
}
#spr15_184d542 {
  width: 262.6px;
  height: 257px;
  display: none;
  overflow: hidden;
}
#spr17_184d542 {
  width: 280px;
  height: 280px;
  display: none;
  overflow: hidden;
}
#spr19_184d542 {
  width: 275px;
  height: 275px;
  display: none;
  overflow: hidden;
}
#svg1_184d542,
#svg3_184d542 {
  -webkit-transform-origin: 27.202px 27.202px;
  -moz-transform-origin: 27.202px 27.202px;
  -o-transform-origin: 27.202px 27.202px;
  -ms-transform-origin: 27.202px 27.202px;
  transform-origin: 27.202px 27.202px;
  display: none;
}
#spr21_184d542,
#spr22_184d542 {
  display: none;
}
#txt0_184d542,
#txt1_184d542 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#spr23_184d542 {
  width: 579.054px;
  height: 898.718px;
  display: none;
  overflow: hidden;
}
