#spr1_185ddb9 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185ddb9 {
  width: 3696px;
  height: 2836px;
  overflow: hidden;
}
#spr5_185ddb9 {
  width: 1464px;
  height: 1004px;
  display: none;
  overflow: hidden;
}
#spr7_185ddb9 {
  width: 160px;
  height: 136px;
  display: none;
  overflow: hidden;
}
#spr9_185ddb9,
#spr10_185ddb9,
#spr11_185ddb9,
#spr12_185ddb9,
#spr13_185ddb9,
#spr14_185ddb9 {
  display: none;
}
#txt0_185ddb9,
#txt1_185ddb9,
#txt2_185ddb9,
#txt3_185ddb9,
#txt4_185ddb9,
#txt5_185ddb9,
#txt6_185ddb9,
#txt7_185ddb9,
#txt8_185ddb9 {
  font-family: fnt6;
  font-size: 26.667px;
  line-height: 29px;
  color: #000000;
}
#txt9_185ddb9,
#txt10_185ddb9,
#txt11_185ddb9,
#txt12_185ddb9,
#txt13_185ddb9,
#txt14_185ddb9,
#txt15_185ddb9,
#txt16_185ddb9,
#txt17_185ddb9,
#txt18_185ddb9,
#txt19_185ddb9,
#txt20_185ddb9,
#txt21_185ddb9,
#txt22_185ddb9,
#txt23_185ddb9,
#txt24_185ddb9,
#txt25_185ddb9,
#txt26_185ddb9,
#txt27_185ddb9,
#txt28_185ddb9,
#txt29_185ddb9,
#txt30_185ddb9,
#txt31_185ddb9,
#txt32_185ddb9 {
  font-family: fnt6;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
}
#spr15_185ddb9 {
  width: 212.94px;
  height: 207.829px;
  display: none;
  overflow: hidden;
}
#spr17_185ddb9 {
  width: 183.54px;
  height: 164.838px;
  display: none;
  overflow: hidden;
}
#spr19_185ddb9 {
  width: 218px;
  height: 185.911px;
  display: none;
  overflow: hidden;
}
#spr21_185ddb9 {
  width: 199.696px;
  height: 195px;
  display: none;
  overflow: hidden;
}
#spr23_185ddb9 {
  width: 193px;
  height: 158.324px;
  display: none;
  overflow: hidden;
}
#spr25_185ddb9 {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr27_185ddb9 {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
