#spr1_185a91c {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185a91c {
  width: 3943px;
  height: 3025px;
  overflow: hidden;
}
#spr5_185a91c {
  width: 555.11px;
  height: 861.555px;
  overflow: hidden;
}
#spr7_185a91c {
  width: 570.128px;
  height: 1007.722px;
  overflow: hidden;
}
#spr9_185a91c {
  width: 555.11px;
  height: 820.666px;
  overflow: hidden;
}
#spr11_185a91c {
  width: 189px;
  height: 160px;
  display: none;
  overflow: hidden;
}
#spr13_185a91c {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr15_185a91c {
  width: 218px;
  height: 185.77px;
  display: none;
  overflow: hidden;
}
#spr17_185a91c {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr19_185a91c {
  width: 555.11px;
  height: 156.539px;
  display: none;
  overflow: hidden;
}
