#spr1_182b4f2 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_182b4f2 {
  width: 3846.905px;
  height: 1494.337px;
  overflow: hidden;
}
#spr5_182b4f2 {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr7_182b4f2 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr9_182b4f2 {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr11_182b4f2 {
  width: 218px;
  height: 185.911px;
  display: none;
  overflow: hidden;
}
#spr13_182b4f2 {
  width: 1367px;
  height: 953px;
  display: none;
  overflow: hidden;
}
#spr15_182b4f2 {
  width: 262.811px;
  height: 256.506px;
  display: none;
  overflow: hidden;
}
#spr17_182b4f2 {
  width: 280.387px;
  height: 280.387px;
  display: none;
  overflow: hidden;
}
#spr19_182b4f2 {
  width: 275.137px;
  height: 275.137px;
  display: none;
  overflow: hidden;
}
#spr21_182b4f2 {
  width: 248.639px;
  height: 248.639px;
  display: none;
  overflow: hidden;
}
#svg1_182b4f2,
#svg3_182b4f2,
#svg5_182b4f2 {
  -webkit-transform-origin: 27.202px 27.202px;
  -moz-transform-origin: 27.202px 27.202px;
  -o-transform-origin: 27.202px 27.202px;
  -ms-transform-origin: 27.202px 27.202px;
  transform-origin: 27.202px 27.202px;
  display: none;
}
#spr23_182b4f2,
#spr24_182b4f2,
#spr25_182b4f2 {
  display: none;
}
#txt0_182b4f2,
#txt1_182b4f2,
#txt2_182b4f2 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
