#spr1_183e62f {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#svg3_183e62f {
  -webkit-transform-origin: -0px 0.155px;
  -moz-transform-origin: -0px 0.155px;
  -o-transform-origin: -0px 0.155px;
  -ms-transform-origin: -0px 0.155px;
  transform-origin: -0px 0.155px;
}
#svg7_183e62f {
  -webkit-transform-origin: -0px 2.373px;
  -moz-transform-origin: -0px 2.373px;
  -o-transform-origin: -0px 2.373px;
  -ms-transform-origin: -0px 2.373px;
  transform-origin: -0px 2.373px;
}
#svg11_183e62f {
  -webkit-transform-origin: -0px 65.149px;
  -moz-transform-origin: -0px 65.149px;
  -o-transform-origin: -0px 65.149px;
  -ms-transform-origin: -0px 65.149px;
  transform-origin: -0px 65.149px;
}
#svg19_183e62f {
  -webkit-transform-origin: -0px 1.069px;
  -moz-transform-origin: -0px 1.069px;
  -o-transform-origin: -0px 1.069px;
  -ms-transform-origin: -0px 1.069px;
  transform-origin: -0px 1.069px;
}
#svg23_183e62f {
  -webkit-transform-origin: -0px 2.999px;
  -moz-transform-origin: -0px 2.999px;
  -o-transform-origin: -0px 2.999px;
  -ms-transform-origin: -0px 2.999px;
  transform-origin: -0px 2.999px;
}
#svg47_183e62f {
  -webkit-transform-origin: -0px 8.786px;
  -moz-transform-origin: -0px 8.786px;
  -o-transform-origin: -0px 8.786px;
  -ms-transform-origin: -0px 8.786px;
  transform-origin: -0px 8.786px;
}
#svg51_183e62f {
  -webkit-transform-origin: -0px 0.741px;
  -moz-transform-origin: -0px 0.741px;
  -o-transform-origin: -0px 0.741px;
  -ms-transform-origin: -0px 0.741px;
  transform-origin: -0px 0.741px;
}
#svg83_183e62f {
  -webkit-transform-origin: 5.741px -0px;
  -moz-transform-origin: 5.741px -0px;
  -o-transform-origin: 5.741px -0px;
  -ms-transform-origin: 5.741px -0px;
  transform-origin: 5.741px -0px;
}
#svg99_183e62f {
  -webkit-transform-origin: 1.066px 11.8px;
  -moz-transform-origin: 1.066px 11.8px;
  -o-transform-origin: 1.066px 11.8px;
  -ms-transform-origin: 1.066px 11.8px;
  transform-origin: 1.066px 11.8px;
}
#svg103_183e62f {
  -webkit-transform-origin: 2.575px -0px;
  -moz-transform-origin: 2.575px -0px;
  -o-transform-origin: 2.575px -0px;
  -ms-transform-origin: 2.575px -0px;
  transform-origin: 2.575px -0px;
}
#svg107_183e62f {
  -webkit-transform-origin: 12.83px -0px;
  -moz-transform-origin: 12.83px -0px;
  -o-transform-origin: 12.83px -0px;
  -ms-transform-origin: 12.83px -0px;
  transform-origin: 12.83px -0px;
}
#svg111_183e62f {
  -webkit-transform-origin: -0px 9.49px;
  -moz-transform-origin: -0px 9.49px;
  -o-transform-origin: -0px 9.49px;
  -ms-transform-origin: -0px 9.49px;
  transform-origin: -0px 9.49px;
}
#svg119_183e62f {
  -webkit-transform-origin: 0.605px -0px;
  -moz-transform-origin: 0.605px -0px;
  -o-transform-origin: 0.605px -0px;
  -ms-transform-origin: 0.605px -0px;
  transform-origin: 0.605px -0px;
}
#svg123_183e62f {
  -webkit-transform-origin: 1.115px -0px;
  -moz-transform-origin: 1.115px -0px;
  -o-transform-origin: 1.115px -0px;
  -ms-transform-origin: 1.115px -0px;
  transform-origin: 1.115px -0px;
}
#svg127_183e62f {
  -webkit-transform-origin: 8.055px -0px;
  -moz-transform-origin: 8.055px -0px;
  -o-transform-origin: 8.055px -0px;
  -ms-transform-origin: 8.055px -0px;
  transform-origin: 8.055px -0px;
}
#svg159_183e62f {
  -webkit-transform-origin: 9.867px -0px;
  -moz-transform-origin: 9.867px -0px;
  -o-transform-origin: 9.867px -0px;
  -ms-transform-origin: 9.867px -0px;
  transform-origin: 9.867px -0px;
}
#spr8_183e62f {
  -webkit-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -o-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -ms-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -moz-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
}
#svg163_183e62f {
  -webkit-transform-origin: 7.884px -0px;
  -moz-transform-origin: 7.884px -0px;
  -o-transform-origin: 7.884px -0px;
  -ms-transform-origin: 7.884px -0px;
  transform-origin: 7.884px -0px;
}
#svg167_183e62f {
  -webkit-transform-origin: 5.653px -0px;
  -moz-transform-origin: 5.653px -0px;
  -o-transform-origin: 5.653px -0px;
  -ms-transform-origin: 5.653px -0px;
  transform-origin: 5.653px -0px;
}
#svg171_183e62f {
  -webkit-transform-origin: 7.833px -0px;
  -moz-transform-origin: 7.833px -0px;
  -o-transform-origin: 7.833px -0px;
  -ms-transform-origin: 7.833px -0px;
  transform-origin: 7.833px -0px;
}
#spr10_183e62f,
#spr11_183e62f,
#spr12_183e62f,
#spr13_183e62f,
#spr14_183e62f,
#spr15_183e62f,
#spr16_183e62f,
#spr17_183e62f {
  -webkit-transform: matrix(1, 0, -0, 1, 0, 0);
  -o-transform: matrix(1, 0, -0, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0, 1, 0, 0);
  transform: matrix(1, 0, -0, 1, 0, 0);
}
#svg195_183e62f {
  -webkit-transform-origin: 13.236px -0px;
  -moz-transform-origin: 13.236px -0px;
  -o-transform-origin: 13.236px -0px;
  -ms-transform-origin: 13.236px -0px;
  transform-origin: 13.236px -0px;
}
#svg199_183e62f {
  -webkit-transform-origin: 8.857px -0px;
  -moz-transform-origin: 8.857px -0px;
  -o-transform-origin: 8.857px -0px;
  -ms-transform-origin: 8.857px -0px;
  transform-origin: 8.857px -0px;
}
#svg203_183e62f {
  -webkit-transform-origin: 0px -0px;
  -moz-transform-origin: 0px -0px;
  -o-transform-origin: 0px -0px;
  -ms-transform-origin: 0px -0px;
  transform-origin: 0px -0px;
}
#svg207_183e62f {
  -webkit-transform-origin: 7.872px -0px;
  -moz-transform-origin: 7.872px -0px;
  -o-transform-origin: 7.872px -0px;
  -ms-transform-origin: 7.872px -0px;
  transform-origin: 7.872px -0px;
}
#svg211_183e62f {
  -webkit-transform-origin: 1.127px -0px;
  -moz-transform-origin: 1.127px -0px;
  -o-transform-origin: 1.127px -0px;
  -ms-transform-origin: 1.127px -0px;
  transform-origin: 1.127px -0px;
}
#spr18_183e62f {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr20_183e62f {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr22_183e62f {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr24_183e62f {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg224_183e62f {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg225_183e62f {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#svg227_183e62f,
#svg229_183e62f,
#svg231_183e62f,
#svg233_183e62f {
  -webkit-transform-origin: 27.202px 27.202px;
  -moz-transform-origin: 27.202px 27.202px;
  -o-transform-origin: 27.202px 27.202px;
  -ms-transform-origin: 27.202px 27.202px;
  transform-origin: 27.202px 27.202px;
}
#txt0_183e62f,
#txt1_183e62f,
#txt2_183e62f,
#txt3_183e62f,
#txt4_183e62f {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#spr30_183e62f {
  width: 301px;
  height: 301px;
  overflow: hidden;
}
#spr32_183e62f {
  width: 217.878px;
  height: 186px;
  display: none;
  overflow: hidden;
}
#spr34_183e62f {
  width: 357px;
  height: 357px;
  display: none;
  overflow: hidden;
}
#svg234_183e62f {
  -webkit-transform-origin: 28.399px 28.399px;
  -moz-transform-origin: 28.399px 28.399px;
  -o-transform-origin: 28.399px 28.399px;
  -ms-transform-origin: 28.399px 28.399px;
  transform-origin: 28.399px 28.399px;
  display: none;
}
#spr36_183e62f {
  display: none;
}
