#spr1_18378b0 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_18378b0 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_18378b0 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr7_18378b0 {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr9_18378b0 {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg0_18378b0 {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg1_18378b0 {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#txt0_18378b0 {
  font-family: fnt7;
  font-size: 120px;
  line-height: 163.68px;
  font-weight: bold;
  color: #7c3f0b;
}
#spr12_18378b0,
#spr16_18378b0 {
  width: 256px;
  height: 256px;
  overflow: hidden;
}
#spr14_18378b0 {
  width: 317px;
  height: 317px;
  overflow: hidden;
}
#spr18_18378b0 {
  width: 375px;
  height: 375px;
  overflow: hidden;
}
#svg3_18378b0,
#svg4_18378b0 {
  -webkit-transform-origin: 28.399px 28.399px;
  -moz-transform-origin: 28.399px 28.399px;
  -o-transform-origin: 28.399px 28.399px;
  -ms-transform-origin: 28.399px 28.399px;
  transform-origin: 28.399px 28.399px;
  display: none;
}
#spr20_18378b0,
#spr25_18378b0 {
  display: none;
}
#txt1_18378b0,
#txt2_18378b0 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#spr21_18378b0 {
  width: 217.878px;
  height: 186px;
  display: none;
  overflow: hidden;
}
#spr23_18378b0 {
  width: 357px;
  height: 357px;
  display: none;
  overflow: hidden;
}
