#spr1_1838274 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_1838274 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_1838274 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr7_1838274 {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr9_1838274 {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg0_1838274 {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg1_1838274 {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#spr11_1838274,
#spr14_1838274,
#spr18_1838274 {
  width: 256px;
  height: 256px;
  display: none;
  overflow: hidden;
}
#spr13_1838274 {
  display: none;
}
#txt0_1838274 {
  font-family: fnt7;
  font-size: 120px;
  line-height: 163.68px;
  font-weight: bold;
  color: #7c3f0b;
}
#spr16_1838274 {
  width: 317px;
  height: 317px;
  display: none;
  overflow: hidden;
}
