#spr1_182a998 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_182a998 {
  width: 3943px;
  height: 3025px;
  overflow: hidden;
}
#spr5_182a998 {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr7_182a998 {
  width: 555.11px;
  height: 861.555px;
  display: none;
  overflow: hidden;
}
#spr9_182a998 {
  width: 570.128px;
  height: 1007.722px;
  display: none;
  overflow: hidden;
}
#spr11_182a998 {
  width: 555.11px;
  height: 820.666px;
  display: none;
  overflow: hidden;
}
#spr13_182a998 {
  width: 189px;
  height: 160px;
  display: none;
  overflow: hidden;
}
#spr15_182a998 {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr17_182a998 {
  width: 217.878px;
  height: 186px;
  display: none;
  overflow: hidden;
}
#spr19_182a998 {
  width: 504.82px;
  height: 142.357px;
  display: none;
  overflow: hidden;
}
