#spr1_184d0cd {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_184d0cd {
  width: 3943px;
  height: 3025px;
  overflow: hidden;
}
#spr5_184d0cd {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr7_184d0cd {
  width: 555.11px;
  height: 861.555px;
  overflow: hidden;
}
#spr9_184d0cd {
  width: 570.128px;
  height: 1007.722px;
  overflow: hidden;
}
#spr11_184d0cd {
  width: 555.11px;
  height: 820.666px;
  overflow: hidden;
}
#spr13_184d0cd {
  width: 189px;
  height: 160px;
  display: none;
  overflow: hidden;
}
#spr15_184d0cd {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr17_184d0cd,
#spr19_184d0cd {
  width: 218px;
  height: 185.77px;
  display: none;
  overflow: hidden;
}
#spr21_184d0cd {
  width: 693.971px;
  height: 195.697px;
  display: none;
  overflow: hidden;
}
