#spr1_183098b {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_183098b {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_183098b {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr7_183098b {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr9_183098b {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg0_183098b {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg1_183098b {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#spr11_183098b,
#spr16_183098b {
  width: 256px;
  height: 256px;
  overflow: hidden;
}
#txt0_183098b {
  font-family: fnt7;
  font-size: 120px;
  line-height: 163.68px;
  font-weight: bold;
  color: #7c3f0b;
}
#spr14_183098b {
  width: 317px;
  height: 317px;
  overflow: hidden;
}
#spr18_183098b {
  width: 511.936px;
  height: 511.936px;
  display: none;
  overflow: hidden;
}
#spr20_183098b {
  width: 617.031px;
  height: 174px;
  display: none;
  overflow: hidden;
}
#spr22_183098b {
  width: 217.878px;
  height: 186px;
  display: none;
  overflow: hidden;
}
#svg3_183098b {
  -webkit-transform-origin: 28.399px 28.399px;
  -moz-transform-origin: 28.399px 28.399px;
  -o-transform-origin: 28.399px 28.399px;
  -ms-transform-origin: 28.399px 28.399px;
  transform-origin: 28.399px 28.399px;
  display: none;
}
#spr24_183098b {
  display: none;
}
#txt1_183098b {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#spr25_183098b {
  width: 333px;
  height: 333px;
  overflow: hidden;
}
