#spr1_183f264 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#svg3_183f264 {
  -webkit-transform-origin: -0px 0.155px;
  -moz-transform-origin: -0px 0.155px;
  -o-transform-origin: -0px 0.155px;
  -ms-transform-origin: -0px 0.155px;
  transform-origin: -0px 0.155px;
}
#svg7_183f264 {
  -webkit-transform-origin: -0px 2.373px;
  -moz-transform-origin: -0px 2.373px;
  -o-transform-origin: -0px 2.373px;
  -ms-transform-origin: -0px 2.373px;
  transform-origin: -0px 2.373px;
}
#svg11_183f264 {
  -webkit-transform-origin: -0px 65.149px;
  -moz-transform-origin: -0px 65.149px;
  -o-transform-origin: -0px 65.149px;
  -ms-transform-origin: -0px 65.149px;
  transform-origin: -0px 65.149px;
}
#svg19_183f264 {
  -webkit-transform-origin: -0px 1.069px;
  -moz-transform-origin: -0px 1.069px;
  -o-transform-origin: -0px 1.069px;
  -ms-transform-origin: -0px 1.069px;
  transform-origin: -0px 1.069px;
}
#svg23_183f264 {
  -webkit-transform-origin: -0px 2.999px;
  -moz-transform-origin: -0px 2.999px;
  -o-transform-origin: -0px 2.999px;
  -ms-transform-origin: -0px 2.999px;
  transform-origin: -0px 2.999px;
}
#svg47_183f264 {
  -webkit-transform-origin: -0px 8.786px;
  -moz-transform-origin: -0px 8.786px;
  -o-transform-origin: -0px 8.786px;
  -ms-transform-origin: -0px 8.786px;
  transform-origin: -0px 8.786px;
}
#svg51_183f264 {
  -webkit-transform-origin: -0px 0.741px;
  -moz-transform-origin: -0px 0.741px;
  -o-transform-origin: -0px 0.741px;
  -ms-transform-origin: -0px 0.741px;
  transform-origin: -0px 0.741px;
}
#svg83_183f264 {
  -webkit-transform-origin: 5.741px -0px;
  -moz-transform-origin: 5.741px -0px;
  -o-transform-origin: 5.741px -0px;
  -ms-transform-origin: 5.741px -0px;
  transform-origin: 5.741px -0px;
}
#svg99_183f264 {
  -webkit-transform-origin: 1.066px 11.8px;
  -moz-transform-origin: 1.066px 11.8px;
  -o-transform-origin: 1.066px 11.8px;
  -ms-transform-origin: 1.066px 11.8px;
  transform-origin: 1.066px 11.8px;
}
#svg103_183f264 {
  -webkit-transform-origin: 2.575px -0px;
  -moz-transform-origin: 2.575px -0px;
  -o-transform-origin: 2.575px -0px;
  -ms-transform-origin: 2.575px -0px;
  transform-origin: 2.575px -0px;
}
#svg107_183f264 {
  -webkit-transform-origin: 12.83px -0px;
  -moz-transform-origin: 12.83px -0px;
  -o-transform-origin: 12.83px -0px;
  -ms-transform-origin: 12.83px -0px;
  transform-origin: 12.83px -0px;
}
#svg111_183f264 {
  -webkit-transform-origin: -0px 9.49px;
  -moz-transform-origin: -0px 9.49px;
  -o-transform-origin: -0px 9.49px;
  -ms-transform-origin: -0px 9.49px;
  transform-origin: -0px 9.49px;
}
#svg119_183f264 {
  -webkit-transform-origin: 0.605px -0px;
  -moz-transform-origin: 0.605px -0px;
  -o-transform-origin: 0.605px -0px;
  -ms-transform-origin: 0.605px -0px;
  transform-origin: 0.605px -0px;
}
#svg123_183f264 {
  -webkit-transform-origin: 1.115px -0px;
  -moz-transform-origin: 1.115px -0px;
  -o-transform-origin: 1.115px -0px;
  -ms-transform-origin: 1.115px -0px;
  transform-origin: 1.115px -0px;
}
#svg127_183f264 {
  -webkit-transform-origin: 8.055px -0px;
  -moz-transform-origin: 8.055px -0px;
  -o-transform-origin: 8.055px -0px;
  -ms-transform-origin: 8.055px -0px;
  transform-origin: 8.055px -0px;
}
#svg159_183f264 {
  -webkit-transform-origin: 9.867px -0px;
  -moz-transform-origin: 9.867px -0px;
  -o-transform-origin: 9.867px -0px;
  -ms-transform-origin: 9.867px -0px;
  transform-origin: 9.867px -0px;
}
#spr8_183f264 {
  -webkit-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -o-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -ms-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  -moz-transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
  transform: matrix(0.886764, -0.462222, 0.462222, 0.886764, 0, 0);
}
#svg163_183f264 {
  -webkit-transform-origin: 7.884px -0px;
  -moz-transform-origin: 7.884px -0px;
  -o-transform-origin: 7.884px -0px;
  -ms-transform-origin: 7.884px -0px;
  transform-origin: 7.884px -0px;
}
#svg167_183f264 {
  -webkit-transform-origin: 5.653px -0px;
  -moz-transform-origin: 5.653px -0px;
  -o-transform-origin: 5.653px -0px;
  -ms-transform-origin: 5.653px -0px;
  transform-origin: 5.653px -0px;
}
#svg171_183f264 {
  -webkit-transform-origin: 7.833px -0px;
  -moz-transform-origin: 7.833px -0px;
  -o-transform-origin: 7.833px -0px;
  -ms-transform-origin: 7.833px -0px;
  transform-origin: 7.833px -0px;
}
#spr10_183f264,
#spr11_183f264,
#spr12_183f264,
#spr13_183f264,
#spr14_183f264,
#spr15_183f264,
#spr16_183f264,
#spr17_183f264 {
  -webkit-transform: matrix(1, 0, -0, 1, 0, 0);
  -o-transform: matrix(1, 0, -0, 1, 0, 0);
  -ms-transform: matrix(1, 0, -0, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0, 1, 0, 0);
  transform: matrix(1, 0, -0, 1, 0, 0);
}
#svg195_183f264 {
  -webkit-transform-origin: 13.236px -0px;
  -moz-transform-origin: 13.236px -0px;
  -o-transform-origin: 13.236px -0px;
  -ms-transform-origin: 13.236px -0px;
  transform-origin: 13.236px -0px;
}
#svg199_183f264 {
  -webkit-transform-origin: 8.857px -0px;
  -moz-transform-origin: 8.857px -0px;
  -o-transform-origin: 8.857px -0px;
  -ms-transform-origin: 8.857px -0px;
  transform-origin: 8.857px -0px;
}
#svg203_183f264 {
  -webkit-transform-origin: 0px -0px;
  -moz-transform-origin: 0px -0px;
  -o-transform-origin: 0px -0px;
  -ms-transform-origin: 0px -0px;
  transform-origin: 0px -0px;
}
#svg207_183f264 {
  -webkit-transform-origin: 7.872px -0px;
  -moz-transform-origin: 7.872px -0px;
  -o-transform-origin: 7.872px -0px;
  -ms-transform-origin: 7.872px -0px;
  transform-origin: 7.872px -0px;
}
#svg211_183f264 {
  -webkit-transform-origin: 1.127px -0px;
  -moz-transform-origin: 1.127px -0px;
  -o-transform-origin: 1.127px -0px;
  -ms-transform-origin: 1.127px -0px;
  transform-origin: 1.127px -0px;
}
#spr18_183f264 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr20_183f264 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr22_183f264 {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr24_183f264 {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg224_183f264 {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg225_183f264 {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#spr26_183f264 {
  width: 301px;
  height: 301px;
  display: none;
  overflow: hidden;
}
#svg227_183f264,
#svg229_183f264,
#svg231_183f264,
#svg233_183f264 {
  -webkit-transform-origin: 27.202px 27.202px;
  -moz-transform-origin: 27.202px 27.202px;
  -o-transform-origin: 27.202px 27.202px;
  -ms-transform-origin: 27.202px 27.202px;
  transform-origin: 27.202px 27.202px;
  display: none;
}
#spr28_183f264,
#spr29_183f264,
#spr30_183f264,
#spr31_183f264 {
  display: none;
}
#txt0_183f264,
#txt1_183f264,
#txt2_183f264,
#txt3_183f264 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
