#spr1_185b4e4 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_185b4e4 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_185b4e4 {
  width: 780.972px;
  height: 1380.395px;
  overflow: hidden;
}
#spr7_185b4e4 {
  width: 207.288px;
  height: 185.952px;
  display: none;
  overflow: hidden;
}
#spr9_185b4e4 {
  width: 218.028px;
  height: 185.982px;
  display: none;
  overflow: hidden;
}
#spr11_185b4e4 {
  width: 218px;
  height: 185.911px;
  display: none;
  overflow: hidden;
}
#spr13_185b4e4 {
  width: 1367px;
  height: 953px;
  display: none;
  overflow: hidden;
}
#spr15_185b4e4 {
  width: 262.6px;
  height: 257px;
  display: none;
  overflow: hidden;
}
#spr17_185b4e4,
#spr19_185b4e4,
#spr26_185b4e4 {
  width: 177px;
  height: 177px;
  display: none;
  overflow: hidden;
}
#spr21_185b4e4 {
  width: 189px;
  height: 189px;
  display: none;
  overflow: hidden;
}
#svg1_185b4e4,
#svg3_185b4e4,
#svg5_185b4e4,
#svg7_185b4e4 {
  -webkit-transform-origin: 20.815px 20.815px;
  -moz-transform-origin: 20.815px 20.815px;
  -o-transform-origin: 20.815px 20.815px;
  -ms-transform-origin: 20.815px 20.815px;
  transform-origin: 20.815px 20.815px;
  display: none;
}
#spr23_185b4e4,
#spr24_185b4e4,
#spr25_185b4e4,
#spr28_185b4e4 {
  display: none;
}
#txt0_185b4e4,
#txt1_185b4e4,
#txt3_185b4e4 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#txt2_185b4e4 {
  font-family: fnt7;
  font-size: 44px;
  line-height: 60.016px;
  font-weight: bold;
  color: #ffffff;
}
