#spr1_1836cd8 {
  clip: rect(0px, 2340px, 1080px, 0px);
}
#spr3_1836cd8 {
  width: 4772.721px;
  height: 2402.614px;
  overflow: hidden;
}
#spr5_1836cd8 {
  width: 780.972px;
  height: 1212.104px;
  overflow: hidden;
}
#spr7_1836cd8 {
  width: 2114px;
  height: 958px;
  overflow: hidden;
}
#spr9_1836cd8 {
  width: 262.6px;
  height: 257px;
  overflow: hidden;
}
#svg0_1836cd8 {
  -webkit-transform-origin: 33.121px 33.121px;
  -moz-transform-origin: 33.121px 33.121px;
  -o-transform-origin: 33.121px 33.121px;
  -ms-transform-origin: 33.121px 33.121px;
  transform-origin: 33.121px 33.121px;
}
#svg1_1836cd8 {
  -webkit-transform-origin: 20.068px 20.068px;
  -moz-transform-origin: 20.068px 20.068px;
  -o-transform-origin: 20.068px 20.068px;
  -ms-transform-origin: 20.068px 20.068px;
  transform-origin: 20.068px 20.068px;
}
#txt0_1836cd8 {
  font-family: fnt7;
  font-size: 120px;
  line-height: 163.68px;
  font-weight: bold;
  color: #7c3f0b;
}
#spr12_1836cd8,
#spr16_1836cd8 {
  width: 256px;
  height: 256px;
  overflow: hidden;
}
#spr14_1836cd8 {
  width: 317px;
  height: 317px;
  overflow: hidden;
}
#spr18_1836cd8 {
  width: 375px;
  height: 375px;
  overflow: hidden;
}
#svg3_1836cd8 {
  -webkit-transform-origin: 28.399px 28.399px;
  -moz-transform-origin: 28.399px 28.399px;
  -o-transform-origin: 28.399px 28.399px;
  -ms-transform-origin: 28.399px 28.399px;
  transform-origin: 28.399px 28.399px;
  display: none;
}
#spr20_1836cd8 {
  display: none;
}
#txt1_1836cd8 {
  font-family: fnt7;
  font-size: 48px;
  line-height: 65.472px;
  font-weight: bold;
  color: #ffffff;
}
#spr21_1836cd8 {
  width: 511.936px;
  height: 511.936px;
  display: none;
  overflow: hidden;
}
#spr23_1836cd8 {
  width: 617.031px;
  height: 174px;
  display: none;
  overflow: hidden;
}
#spr25_1836cd8 {
  width: 217.878px;
  height: 186px;
  display: none;
  overflow: hidden;
}
